# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
foo = 69
bar = 69
id(foo) == id(bar)

True

*місце для текстової відповіді
ці числа створенні на початку та мають однаковий id якщо створити більше ніж 255
то буде новий об'єкт зі своїм унікальним id

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
type(True) == bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [38]:
six = 6.0
nine = 9.0
print(six + nine)
print(six - nine)
print(six / nine)
print(nine // six)
print(six * nine)
print(six % nine)

15.0
-3.0
0.6666666666666666
1.0
54.0
6.0

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [41]:
six = 6
nine = 9.0
sixnine = float(6) * 10 + nine
print(sixnine)
t = True
print(int(t))

69.0
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
foo = ''
foo = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
foo = '\''
bar = "'"
print(foo)
print(bar)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [25]:
surname = "Karahaiev"
print("My surname is __".replace("__", surname))

My surname is Karahaiev

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [6]:
"My dog is crazy.".lower()[0:-1].split()

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [8]:
foo = list(("foo", "bar"))
bar = ["foo", "bar"]
len(bar)

2

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [10]:
foo = ["foo"]
bar = ["bar"]
foo.extend(bar)

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [17]:
print([[(i + j * (i + 1) * 10) for i in range(10)] for j in range(10)][-1][0])

90

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [15]:
six = [69, 6.9, True, [6, 9], {'69': '🫦'}, (6, 9), None, "sixty nine", b"sixty nine", range(69)]
nine = six[2:-2]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
six = 9,

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

лісти підходять для роботи з даними, вони мутабельні та мають динамічний розмір. тупли імутабельні і більше підходять для переміщення з місця в місце, наприклад, повертається з функції тупл і ми одразу його дестрактимо в дві змінні.
лісти зазвичай використовуються з однаковим типом елементів, в туплетах це не дуже важливо.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [24]:
foo = tuple([i+1.1 for i in range(11)])
bar = [v for i, v in  enumerate(reversed(foo)) if i % 2 == 0]
print(bar)

[11.1, 9.1, 7.1, 5.1, 3.1, 1.1]

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [26]:
foo = set()
foo.add("6")
foo.add(9)
foo

{'6', 9}

*місце для текстової відповіді:

не зрозумів питання

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [27]:
my_list = [1, 1, 2, 67, 67, 8, 9]
foo = set(my_list)

foo

{1, 2, 8, 9, 67}

*місце для текстової відповіді
сети не можуть мати значення більше одного разу

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [29]:
foo = {1, 2, 3}
bar = {3, 5, 7}
print(set.union(foo, bar))
print(set.difference(foo,bar))
print(set.intersection(foo, bar))
print(set.symmetric_difference(foo, bar))

{1, 2, 3, 5, 7}
{1, 2}
{3}
{1, 2, 5, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [34]:
foo = {}
foo["10"] = "test"
foo[("I", "use")] = {"arch": "btw"}
foo[69] = 420
foo[0.000000000001] = 20

*місце для текстової відповіді
ключі мають бути імутабельними, а список є мутабельним, тому не можна використовувати список як ключ до списку

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [35]:
foo = {}
foo["10"] = "test"
foo[("I", "use")] = {"arch": "btw"}

print(foo[("I", "use")]["arch"])

btw

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.